.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio {
	display: flex;
	gap: 40px;
	padding-right: 52px;
}

.buttons {
	display: flex;
	gap: 12px;
	padding-right: 80px;
}

.newArr {
  width: 205px;
}

.diagram {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  padding: 48px 0 0;
  margin: 0;
}